img{
    width: 60%;
}

// @media(min-width: 576px){
// }
.header-order{
    padding-bottom: 10px;
    border-bottom: inset;
}
.header-order-row{
    padding-top: 5px;
    border-bottom: inset;
}

.text-rigth{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-padding-top{
    padding-top: 35px;
}
.color-add{
    color: green;
}

.color-delete{
    color: red;
}